@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Pinyon+Script&display=swap');
@import "tailwindcss";


@theme {
  --color-darkblue : #5245e6;
  --color-lightblue : #e0e9ff;
  --color-textblue : #7470cf;
  --color-bgwhite : #f7fafc;;
  --font-display : "Manrope", sans-serif;
}